<%- include ('global/header', {title: "About- "+site_content.site.title});  %>

<%- include ('global/navbar', {site_content: site_content });  %>


<h1>About- <%= site_content.site.title %></h1>

<a href="https://www.ssa.gov/oact/babynames/background.html"> Background and History</a>


<%- include ('global/footer');  %>