<%- include ('global/header', {title: "About- "+site_content.site.title});  %>

<%- include ('global/navbar', {site_content: site_content });  %>


<h1>About- US Name Diversity</h1>



<h2>Considerations and Vocabulary</h2>
From the Social Security Administration:
<ul>
  <li>Names with fewer than 5 occurrences in any geographic area are excluded to preserve privacy.</li>
  <li></li>
  <li></li>
</ul>


<a href="https://www.ssa.gov/oact/babynames/background.html"> Background and History</a>

<h3>Resource Links</h3>
<ul>
  <li>
    <a href="https://www.ssa.gov/oact/babynames/limits.html">Social Scecurity Administration- Baby Name Data</a>
  </li>
  <li>
    <a href="https://commons.wikimedia.org/wiki/File:Blank_US_Map_(states_only).svg">Blank SVG Map of the United States</a>
  </li>
</ul>

<%- include ('global/footer');  %>